// 背景, p, circle
@mixin bcr($b: #eee, $c: #fff, $r: 0px) {
  background: $b;
  color: $c;
  // padding: $p;
  border-radius: $r;
  @content;
}
// 幅・高さ
@mixin wh($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
  @content;
}
// リンクの色
@mixin acolor($c: #ccc, $bh: #eee, $ch: #fff) {
  color: $c;
  &:hover {
    background: $bh;
    color: $ch;
    transition: 0.5s;
    text-decoration: none;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* small screen */
body {
  @include bcr($b: #ce604def, $c: rgb(245, 235, 235), $r: 0px);
  h1 {
    font-size: 34px;
    text-align: center;
    font-family: "Boogaloo", cursive;
    letter-spacing: 0.25em;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  // Nav, Footer 背景色
  $backnav: rgb(169, 216, 238);
  // Nav ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  .nav {
    // @include bcr($b: rgb(121, 61, 61), $r: 10px);
    .nav-item {
      @include acolor($c: rgb(241, 234, 234), $ch: rgb(38, 38, 233));
      transform: rotate(3deg);
      font-size: 20px;
      // border-bottom: 3px groove rgb(228, 193, 38);
      // text-decoration: underline;
      // アンダーライン
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -4px; /*線の上下位置*/
        left: 50%;
        width: 60px; /*線の長さ*/
        height: 4px; /*線の太さ*/
        transform: translateX(-50%); /*位置調整*/
        border-radius: 50%; /*線の丸み*/
        background: rgb(216, 158, 81);
      }
    }
    .snow {
      color: snow;
      font-size: 18px;
      position: fixed;
      top: -10%; /*初期位置*/
      z-index: 5;
      animation: anim 5s linear infinite;
      text-shadow: 2vw -50px 2px, 5vw -100px 2px, 8vw -200px 2px, 10vw -400px 3px, 15vw -200px 3px, 20vw -500px 4px,
        23vw -500px 1px, 25vw -510px 1px, 30vw -280px 1px, 33vw -180px 1px, 35vw -380px 1px, 37vw -80px 1px,
        39vw -250px 2px, 42vw -340px 5px, 45vw -140px 5px, 50vw -80px 2px, 56vw -150px 2px, 60vw -550px 2px,
        63vw -180px 0, 68vw -680px 0, 72vw -280px 0, 75vw -800px 10px, 78vw -220px 4px, 82vw -120px 4px, 86vw -320px 9px,
        90vw -20px 9px, 94vw -170px 7px, 98vw -100px 10px;
    }
    @keyframes anim {
      100% {
        color: transparent;
        top: 150%;
      }
    }
  }
  // フッター ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  footer {
    background: $backnav;
    ul {
      li {
        padding-right: 20px;
        a {
          .fa-github {
            color: black;
          }
          .fa-twitter {
            color: rgb(106, 202, 240);
          }
          .fa-instagram {
            color: rgb(177, 48, 177);
          }
          .fa-youtube {
            color: red;
          }
          &:hover {
            transition: 2s;
            opacity: 0.5;
          }
        }
      }
    }
    p {
      a {
        @include acolor($c: rgb(0, 190, 57), $bh: #fff, $ch: blueviolet);
        font-size: 20px;
      }
    }
  }
}

// HOME ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.home {
  user-select: none;
  header {
    @include bcr($b: rgb(243, 223, 181), $c: rgb(51, 45, 45), $r: 0px);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 485px;
  }
}
// ABOUT ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.about {
  user-select: none;
  & > .container {
    $textcolor: rgb(73, 66, 66);
    @include bcr($b: #c29f73ef, $c: $textcolor, $r: 20px 20px 0 0);
    // プロフィール
    table th,
    table td {
      color: $textcolor;
      font-size: 18px;
      border-top: 1px solid rgb(209, 200, 200);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    // 経歴
    ul {
      li {
        font-size: 18px;
        text-align: left;
      }
    }
  }
  // グラフ
  .chart {
    @include bcr($b: rgb(223, 245, 181), $c: white, $r: 0px);
  }
}
// WORKs ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.work {
  // 個々ワークス
  .work-item {
    @include bcr($b: rgb(87, 94, 74), $c: white, $r: 10px);
    width: 90%;
    z-index: 0;
    border: 3px groove white;
    h5 {
      @include acolor($c: rgb(189, 235, 203), $bh: rgb(255, 255, 255), $ch: blueviolet);
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
    .work-modal {
      background: rgba(209, 197, 197, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .modalin {
        color: rgb(245, 111, 111);
        position: relative;
        z-index: 5;
        top: 20%;
        right: 0;
        left: 0;
        width: 95%;
        span {
          cursor: pointer;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
// お問い合わせ ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.contact {
  @include bcr($b: rgb(230, 230, 180), $c: rgb(44, 43, 43), $r: 0px);
  user-select: none;
  z-index: 5;
  // 確認画面
  ul {
    @include bcr($b: rgba(48, 214, 184, 0.16), $c: #524f4f, $r: 20px);
    border: 1px dashed #dd4b11;
    width: 90%;
    .answer {
      color: #883ddd;
      font-size: 18px;
    }
  }
  // テキスト枠
  .textline {
    padding: 10px;
    border-radius: 8px;
  }
  // 未入力
  .error-message {
    color: #fa204f;
    margin: 5px auto 0px;
    text-align: center;
  }
  // 確認・送信ボタン
  .submitbtn {
    @include bcr($b: #6666ff, $c: #ffffff, $r: 10px);
    margin: 20px auto;
    padding: 10px 30px;
    line-height: 1em;
    transition: 0.2s;
    box-shadow: 3px 3px 6px #666666;
    display: inline-block;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
  // ラジオボタン
  .radio > label {
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    span {
      // 枠
      @include bcr($b: rgb(255, 255, 255), $r: 30%);
      @include wh($w: 18px, $h: 18px);
      position: absolute;
      top: 2px; /* 上からの位置 */
      left: 4px;
      border: solid 2px #727983;
      /* 選択時に重ねる円（透明にしておく） */
      &:after {
        @include bcr($b: #a539ee, $r: 40%);
        content: "";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        opacity: 0;
      }
    }
    input {
      display: none;
      &:checked + span:after {
        opacity: 1;
      }
    }
  }
}
// DB ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.App-logo {
  height: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* medium screen */
@media (min-width: 576px) {
  body {
    .nav {
      .nav-item {
        font-size: 26px;
      }
    }
  }
  .work {
    .work-item {
      .work-modal {
        .modalin {
          width: 60%;
        }
      }
    }
  }
  .contact {
    ul {
      width: 45%;
    }
  }
}
