// 背景, p, circle
@mixin bcr($b: #eee, $c: #fff, $r: 0px) {
  background: $b;
  color: $c;
  // padding: $p;
  border-radius: $r;
  @content;
}
// 幅・高さ
@mixin wh($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
  @content;
}
// リンクの色
@mixin acolor($c: #ccc, $bh: #eee, $ch: #fff) {
  color: $c;
  &:hover {
    background: $bh;
    color: $ch;
    transition: 0.7s;
    text-decoration: none;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* small screen */
body {
  @include bcr($b: #ce604def, $c: rgb(245, 235, 235), $r: 0px);
  h1 {
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.25em;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

// Nav ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
nav {
  // @include bcr($b: rgb(121, 61, 61), $r: 10px);
  .nav-item {
    @include acolor($c: rgb(241, 234, 234), $ch: rgb(38, 38, 233));
    transform: rotate(3deg);
    padding: 10px 0;
    // border-bottom: 3px groove rgb(228, 193, 38);
    &:hover {
      top: 5px;
      color: #4eacff;
      background-color: rgba(255, 255, 255, 0.685);
      border-radius: 10px;
      box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
      transition: all 0.4s;
    }
    // &:after {
    //   display: block;
    //   content: "";
    //   position: absolute;
    //   top: 100%;
    //   left: 42%;
    //   border-style: solid;
    //   border-color: transparent;
    //   border-width: 5px 5px 0 5px;
    //   transition: all 0.4s;
    // }
    // アンダーライン
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 3px; /*線の上下位置*/
      left: 50%;
      width: 65px; /*線の長さ*/
      height: 3px; /*線の太さ*/
      transform: translateX(-50%); /*位置調整*/
      border-radius: 50%; /*線の丸み*/
      background: rgb(216, 202, 81);
    }
  }
  // 雪
  .snow {
    color: snow;
    font-size: 18px;
    position: fixed;
    top: -10%; /*初期位置*/
    z-index: 5;
    animation: anim 5s linear 1;
    text-shadow: 2vw -50px 2px, 5vw -100px 2px, 8vw -200px 2px, 10vw -400px 3px, 15vw -200px 3px, 20vw -500px 4px,
      23vw -500px 1px, 25vw -510px 1px, 30vw -280px 1px, 33vw -180px 1px, 35vw -380px 1px, 37vw -80px 1px,
      39vw -250px 2px, 42vw -340px 5px, 45vw -140px 5px, 50vw -80px 2px, 56vw -150px 2px, 60vw -550px 2px, 63vw -180px 0,
      68vw -680px 0, 72vw -280px 0, 75vw -800px 10px, 78vw -220px 4px, 82vw -120px 4px, 86vw -320px 9px, 90vw -20px 9px,
      94vw -170px 7px, 98vw -100px 10px;
  }
  @keyframes anim {
    100% {
      color: transparent;
      top: 150%;
    }
  }
}
// 背景色
$backnav: rgb(199, 222, 233);
// フッター ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
footer {
  background: $backnav;
  ul {
    li {
      padding-right: 20px;
      a {
        .fa-github {
          color: black;
        }
        .fa-twitter {
          color: rgb(106, 202, 240);
        }
        .fa-instagram {
          color: rgb(177, 48, 177);
        }
        .fa-youtube {
          color: red;
        }
        &:hover {
          transition: 2s;
          opacity: 0.5;
        }
      }
    }
  }
  p {
    a {
      @include acolor($c: rgb(27, 78, 40), $bh: #fff, $ch: blueviolet);
      font-size: 20px;
    }
  }
}

// HOME ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.home {
  user-select: none;
  @include bcr($b: rgb(243, 223, 181), $c: rgb(51, 45, 45), $r: 0px);
  height: 61vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // font-size: calc(10px + 2vmin);
  // text ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  .stroke {
    color: rgba(50, 197, 75, 0.39);
    letter-spacing: 0.7em;
    text-shadow: 5px 5px 0 #e09249;
    -webkit-text-stroke: 1px #555555;
  }
}
// ABOUT ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.about {
  user-select: none;
  & > .container {
    $textcolor: rgb(73, 66, 66);
    @include bcr($b: #c29f73ef, $c: $textcolor, $r: 20px 20px 0 0);
    // プロフィール
    table th,
    table td {
      color: $textcolor;
      font-size: 18px;
      border-top: 1px solid rgb(209, 200, 200);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    // タイムライン
    ul {
      li {
        font-size: 18px;
        text-align: left;
      }
    }
  }
}
// WORKs ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.work {
  // アイテム
  .work-item {
    @include bcr($b: rgb(87, 94, 74), $c: white, $r: 10px);
    width: 90%;
    height: 100%;
    z-index: 1;
    border: 3px groove white;
    h5 {
      @include acolor($c: rgb(189, 235, 203), $bh: rgb(255, 255, 255), $ch: blueviolet);
      background:rgb(121, 149, 168);
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
    }
    img {
      width: 100%;
      height:280px;
      cursor: pointer;
    }
    // urlを格納した文字列としてのタグ
    a {
      color: rgb(37, 217, 223);
    }
  }
  // モーダルマスク
  .modal-out {
    background: rgba(209, 197, 197, 0.6);
    position: fixed;
    z-index: 8; // 設定しないとマスクされないところが出る
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  // モーダル画面
  .modal-in {
    user-select: none;
    color: rgb(245, 111, 111);
    position: fixed;
    z-index: 10;
    top: 15%;
    right: 0;
    left: 0;
    width: 90%;
  }
}
// Constact ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.contact {
  @include bcr($b: rgb(230, 230, 180), $c: rgb(44, 43, 43), $r: 0px);
  user-select: none;
  position: relative;
  z-index: 1;
  // 確認画面
  ul {
    @include bcr($b: rgba(48, 214, 184, 0.16), $c: #524f4f, $r: 20px);
    border: 1px dashed #dd4b11;
    width: 90%;
    .answer {
      color: #883ddd;
      font-size: 18px;
    }
  }
  // テキスト枠
  .textline {
    padding: 10px;
    border-radius: 8px;
  }
  // 未入力
  .error-message {
    color: #fa204f;
    margin: 5px auto 0px;
    text-align: center;
  }
  // 確認・送信ボタン
  .submitbtn {
    @include bcr($b: #6666ff, $c: #ffffff, $r: 10px);
    margin: 20px auto;
    padding: 10px 30px;
    line-height: 1em;
    transition: 0.2s;
    box-shadow: 3px 3px 6px #666666;
    display: inline-block;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
  // ラジオボタン
  .radio > label {
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    // 外枠
    span {
      @include bcr($b: rgb(255, 255, 255), $r: 30%);
      @include wh($w: 18px, $h: 18px);
      position: absolute;
      top: 2px; /* 上からの位置 */
      left: 4px;
      border: solid 2px #727983;
      /* 選択時に重ねる内円（透明にしておく） */
      &:after {
        @include bcr($b: #a539ee, $r: 40%);
        content: "";
        position: absolute;
        top: 2px; // 枠上からの距離
        bottom: 2px;
        left: 2px;
        right: 2px;
        opacity: 0;
      }
    }
    // 選択したボタンを表示
    input {
      display: none;
      &:checked + span:after {
        opacity: 1;
      }
    }
  }
}
// weightness ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.weightness {
  input[type="text"] {
    width: 45px;
    padding: 2px 5px;
    text-align: center;
    border-radius: 5px;
  }
}

// img ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.App-logo {
  height: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* medium screen */
@media (min-width: 576px) {
  nav {
    .nav-item {
      font-size: 26px;
    }
  }
  .home {
    header {
      height: 59vh;
    }
  }
  .work {
    .work-item {
      width: 100%;
    }
    .modal-in {
      width: 80%;
    }
  }
  .contact {
    ul {
      width: 45%;
    }
  }
}
// iPad限定（縦向きのみ）
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  // NAV ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  nav {
    .nav-item {
      font-size: 36px;
      color: #b3e9c0;
    }
  }
  // HOME ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  .home {
    header {
      height: 66vh;
      .stroke {
        font-size: 40px;
        color: rgba(50, 197, 75, 0.39);
        letter-spacing: 1em;
        text-shadow: 5px 5px 0 #e09249;
        -webkit-text-stroke: 4px #555555;
      }
    }
  }
}
// iPad Pro限定（縦向きのみ）
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  // NAV ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  nav {
    .nav-item {
      font-size: 44px;
    }
  }
  // HOME ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  .home {
    header {
      height: 74vh;
      .stroke {
        font-size: 60px;
        color: rgba(197, 50, 178, 0.39);
        letter-spacing: 1em;
        text-shadow: 5px 5px 0 #e09249;
        -webkit-text-stroke: 5px #555555;
      }
    }
  }
}
// iPad Pro 11 2020（縦向きのみ）
@media only screen and (min-device-width: 1688px) and (max-device-width: 2388px) and (orientation: portrait) {
  // HOME ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
  .home {
    header {
      height: auto;
    }
  }
}
