@charset "UTF-8";
/* small screen */
body {
  background: #d69191ef;
  color: #f5ebeb;
  border-radius: 0px;
}

body h1 {
  font-size: 34px;
  text-align: center;
  font-family: "Boogaloo", cursive;
  letter-spacing: 0.25em;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

body .nav {
  background: #a9d8ee;
  color: #fff;
  border-radius: 10px;
}

body .nav .nav-item {
  color: black;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  padding: 10px 0px;
  font-size: 20px;
  font-family: "Itim", cursive;
}

body .nav .nav-item:hover {
  background: #dce684;
  color: blueviolet;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

body .nav .snow {
  color: snow;
  font-size: 18px;
  position: fixed;
  top: -10%;
  /*初期位置*/
  text-shadow: 2vw -50px 2px, 5vw -100px 2px, 8vw -200px 2px, 10vw -400px 3px, 15vw -200px 3px, 20vw -500px 4px, 25vw -510px 1px, 30vw -280px 1px, 33vw -180px 1px, 35vw -380px 1px, 37vw -80px 1px, 39vw -250px 2px, 42vw -340px 5px, 45vw -140px 5px, 50vw -80px 2px, 56vw -150px 2px, 63vw -180px 0, 68vw -680px 0, 72vw -280px 0, 78vw -220px 4px, 82vw -120px 4px, 86vw -320px 9px, 90vw -20px 9px, 94vw -170px 7px;
  -webkit-animation: anim 5s linear infinite;
          animation: anim 5s linear infinite;
}

@-webkit-keyframes anim {
  100% {
    color: transparent;
    top: 150%;
  }
}

@keyframes anim {
  100% {
    color: transparent;
    top: 150%;
  }
}

body footer {
  background: #a9d8ee;
}

body footer ul li {
  padding-right: 20px;
}

body footer ul li a .fa-github {
  color: black;
}

body footer ul li a .fa-twitter {
  color: #6acaf0;
}

body footer ul li a .fa-instagram {
  color: purple;
}

body footer ul li a .fa-youtube {
  color: red;
}

body footer ul li a:hover {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0.5;
}

body footer p a {
  color: #00be39;
  font-size: 20px;
}

body footer p a:hover {
  background: #fff;
  color: blueviolet;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.home {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home header {
  background: #f3dfb5;
  color: #332d2d;
  border-radius: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 435px;
}

.about {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about > .container {
  background: #c29f73ef;
  color: #494242;
  border-radius: 0px;
}

.about > .container table th,
.about > .container table td {
  color: #494242;
  font-size: 18px;
  border-top: 1px solid #d1c8c8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about > .container ul li {
  font-size: 18px;
  text-align: left;
}

.about .chart {
  background: #dff5b5;
  color: white;
  border-radius: 0px;
}

.work .work-item {
  background: #575e4a;
  color: white;
  border-radius: 10px;
  width: 90%;
  z-index: 0;
}

.work .work-item h5 {
  color: #bdebcb;
  cursor: pointer;
}

.work .work-item h5:hover {
  background: white;
  color: blueviolet;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.work .work-item img {
  cursor: pointer;
}

.work .work-item .work-modal {
  background: rgba(209, 197, 197, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.work .work-item .work-modal .modalin {
  color: #f56f6f;
  position: relative;
  z-index: 3;
  top: 20%;
  right: 0;
  left: 0;
  width: 95%;
}

.work .work-item .work-modal .modalin span {
  cursor: pointer;
}

.work .work-item .work-modal .modalin p {
  font-size: 20px;
}

.contact {
  background: #e6e6b4;
  color: #2c2b2b;
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
}

.contact ul {
  background: rgba(48, 214, 184, 0.16);
  color: #524f4f;
  border-radius: 20px;
  border: 1px dashed #dd4b11;
  width: 90%;
}

.contact ul .answer {
  color: #883ddd;
  font-size: 18px;
}

.contact .textline {
  padding: 10px;
  border-radius: 8px;
}

.contact .error-message {
  color: #fa204f;
  margin: 5px auto 0px;
  text-align: center;
}

.contact .submitbtn {
  background: #6666ff;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 30px;
  line-height: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 3px 3px 6px #666666;
          box-shadow: 3px 3px 6px #666666;
  display: inline-block;
  cursor: pointer;
}

.contact .submitbtn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .radio > label {
  cursor: pointer;
  position: relative;
  padding-left: 28px;
}

.contact .radio > label span {
  background: white;
  color: #fff;
  border-radius: 30%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  /* 上からの位置 */
  left: 4px;
  border: solid 2px #727983;
  /* 選択時に重ねる円（透明にしておく） */
}

.contact .radio > label span:after {
  background: #a539ee;
  color: #fff;
  border-radius: 40%;
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0;
}

.contact .radio > label input {
  display: none;
}

.contact .radio > label input:checked + span:after {
  opacity: 1;
}

.App-logo {
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 15s linear;
            animation: App-logo-spin infinite 15s linear;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* medium screen */
@media (min-width: 576px) {
  body .nav .nav-item {
    font-size: 30px;
  }
  .work .work-item .work-modal .modalin {
    width: 60%;
  }
  .contact ul {
    width: 45%;
  }
}
/*# sourceMappingURL=App.css.map */